/*-- scss:defaults --*/


// fonts
//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

$font-family-serif: "DM Serif Display"!important;
$h1-font-size: 4em;
// $navbar-hl: #fff;
//$navbar-bg: #004473;
// $link-color: #5d7ea9;

//.navbar-nav .active {
//    text-decoration: underline; text-decoration-thickness: 3px; }

// .dropdown:hover>.dropdown-menu {
//  display: block;
//}

/*-- scss:rules --*/
//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

h1 {
  text-align: center;
}

p[class='subtitle lead'] {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  opacity: 1;
}

body {
  font-size: 14px;
}

.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}



